* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box; }

body {
  background-color: #F5F7FF;
  min-height: 100%;
  font-family: "Nunito", sans-serif;
  min-width: 40rem;
  position: relative;
  box-sizing: inherit;
  padding-bottom: 7rem; }

.main-container {
  display: flex;
  flex-direction: column; }

.navlink {
  text-decoration: none;
  color: #1F1F1F; }

section {
  height: 70%; }

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.2rem !important; }

.btn {
  padding: 0.8rem 2rem;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  border: 0.2rem solid transparent;
  width: 20rem;
  transition: all 0.2s; }

.btn-primary {
  background-color: #4747A1;
  font-size: 1.5rem; }
  .btn-primary:hover {
    background-color: #5050B2;
    color: #ffffff;
    border: 0.2rem solid #ffffff; }

.btn-secondary {
  font-size: 1.5rem;
  background-color: #4747A1;
  border: 0.2rem solid #1F1F1F;
  color: white; }
  .btn-secondary:hover {
    background-color: #5050B2;
    color: #ffffff;
    border: 0.2rem solid #ffffff; }

.ls-sm {
  letter-spacing: 0.1rem; }

.ls-md {
  letter-spacing: 0.2rem; }

.ml-sm {
  margin-left: 1rem; }

.ml-md {
  margin-left: 2rem; }

.ml-lg {
  margin-left: 3rem; }

.mr-sm {
  margin-right: 1rem; }

.mr-md {
  margin-right: 2rem; }

.mr-lg {
  margin-right: 3rem; }

.mt-sm {
  margin-top: 1rem; }

.mt-md {
  margin-top: 2rem; }

.mt-lg {
  margin-top: 3rem; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 3rem; }

.input-text {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #1F1F1F;
  margin-bottom: 3rem; }
  .input-text input {
    height: 4rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    border-bottom: 0.2rem solid #1F1F1F;
    outline: none;
    padding: 0 1rem;
    transition: all .3s; }
  .input-text textarea {
    height: 4rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    border-bottom: 0.2rem solid #1F1F1F;
    outline: none;
    padding: 0 1rem;
    transition: all .3s; }
  .input-text input:focus {
    border-bottom: 0.2rem solid #71f371; }
  .input-text textarea:focus {
    border-bottom: 0.2rem solid #71f371; }
  .input-text label {
    padding: 0 1rem;
    opacity: 0;
    transform: translateY(-3rem);
    transition: all 0.3s;
    z-index: -1; }
  .input-text textarea {
    height: 10rem;
    background-color: rgba(95, 158, 160, 0.096);
    resize: none; }
  .input-text input:focus:invalid {
    border-bottom: 0.2rem solid #e2302a; }
  .input-text textarea:focus:invalid {
    border-bottom: 0.2rem solid #e2302a; }
  .input-text input:not(:placeholder-shown) ~ label {
    opacity: 1;
    color: #1F1F1F;
    transform: translateY(0.7rem);
    font-size: 2rem; }
  .input-text textarea:not(:placeholder-shown) ~ label {
    opacity: 1;
    color: #1F1F1F;
    transform: translateY(0.7rem);
    font-size: 2rem; }
  .input-text input[type="file"] + label {
    z-index: 2;
    border-bottom: 0.2rem solid #1F1F1F; }

header .container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem 2rem;
  font-size: 1.5rem; }
  header .container .logo {
    max-width: 40rem;
    display: flex;
    flex-direction: row;
    text-decoration: none; }
    header .container .logo img {
      height: 5rem;
      border-radius: 50%;
      margin-right: 1rem; }
    header .container .logo .logo-text {
      display: flex; }
    header .container .logo h1 {
      display: inline-block;
      align-self: center;
      color: #1F1F1F;
      font-size: 2.5rem; }
  header .container .navlink-desktop-container {
    color: #1F1F1F;
    align-self: center; }
    header .container .navlink-desktop-container ul {
      list-style: none; }
    header .container .navlink-desktop-container li {
      display: inline-block;
      padding: 1rem 1.5rem;
      transition: .2s ease-out;
      border-radius: 1.5rem;
      letter-spacing: 0.1rem;
      font-weight: 600; }
      header .container .navlink-desktop-container li:hover {
        background-color: #91b1f6;
        color: #F5F7FF; }
    header .container .navlink-desktop-container .active li {
      background-color: #91b1f6;
      color: #F5F7FF; }
  header .container .navlink-mobile-container {
    position: relative;
    display: none;
    transition: 2s ease-out; }
    header .container .navlink-mobile-container input[type="checkbox"] {
      display: none; }
    header .container .navlink-mobile-container #ham {
      cursor: pointer;
      align-self: center; }
    header .container .navlink-mobile-container #nav:checked ~ ul {
      display: block;
      z-index: 10; }
    header .container .navlink-mobile-container #nav:checked ~ #ham {
      display: none; }
    header .container .navlink-mobile-container #nav:not(:checked) ~ #outside {
      display: none; }
    header .container .navlink-mobile-container label {
      font-size: 3rem; }
    header .container .navlink-mobile-container #outside {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9; }
    header .container .navlink-mobile-container ul {
      display: none;
      position: fixed;
      top: 2rem;
      right: 2rem;
      background-color: #F5F7FF;
      list-style: none;
      box-shadow: 0 0.5rem 1rem;
      width: 30rem;
      padding: 1rem;
      padding-top: 3rem; }
      header .container .navlink-mobile-container ul label {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer; }
    header .container .navlink-mobile-container li {
      padding: 1rem 2rem;
      letter-spacing: .2rem;
      font-weight: 600;
      transition: all .3s ease-out; }
      header .container .navlink-mobile-container li:hover {
        background-color: #91b1f6; }
    header .container .navlink-mobile-container .active li {
      background-color: #91b1f6;
      color: #F5F7FF; }
  @media (max-width: 56.25em) {
    header .container {
      justify-content: space-between; }
      header .container .navlink-desktop-container {
        display: none; }
      header .container .navlink-mobile-container {
        display: flex; } }

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 10rem;
  max-height: 90%; }
  .home-container .heading {
    width: 100%;
    color: #1F1F1F;
    text-align: center; }
    .home-container .heading h1 {
      font-size: 3rem; }
  .home-container .leaflet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
    gap: 2rem; }
    .home-container .leaflet .textDetails {
      color: #1F1F1F;
      font-size: 1.5rem;
      margin-bottom: 2rem; }
      .home-container .leaflet .textDetails h2 {
        font-size: 2.5rem; }
    .home-container .leaflet .image img {
      max-height: 80%; }
    .home-container .leaflet .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .home-container .leaflet .text .goto {
        margin-top: 3rem;
        display: flex; }

.register-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 4rem; }
  .register-container .register-image {
    width: 50%;
    display: flex;
    justify-content: right; }
    @media screen and (max-width: 900px) {
      .register-container .register-image {
        display: none; } }
  .register-container .signup-img {
    height: 60rem;
    width: 60rem;
    opacity: 0.8; }
  .register-container .register-form {
    display: flex;
    width: 50%;
    justify-content: left;
    padding: 4rem;
    flex-direction: column; }
    .register-container .register-form h3 {
      color: #1F1F1F;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 1rem; }
  .register-container .form {
    width: 40rem;
    border: 0.2rem solid #1F1F1F;
    padding: 2rem;
    border-radius: 1rem;
    color: #1F1F1F;
    font-size: 2rem;
    height: 45rem; }

.contact-container {
  display: flex;
  flex-direction: column; }
  .contact-container h1 {
    color: #1F1F1F;
    font-size: 3rem;
    text-align: center; }
  .contact-container .contact-form {
    border: 0.2rem solid #1F1F1F;
    padding: 2rem;
    border-radius: 1rem; }
  .contact-container .contact-area {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: 4rem;
    gap: 2rem; }
    .contact-container .contact-area .contact-image {
      width: 100%; }

.login-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 4rem; }
  .login-container .login-image {
    width: 50%;
    display: flex;
    justify-content: right; }
    @media screen and (max-width: 900px) {
      .login-container .login-image {
        display: none; } }
  .login-container .signup-img {
    width: 40rem;
    opacity: 0.8; }
  .login-container .login-form {
    display: flex;
    width: 50%;
    justify-content: left;
    padding: 4rem;
    flex-direction: column; }
    .login-container .login-form h3 {
      color: #1F1F1F;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 1rem; }
  .login-container .form {
    width: 40rem;
    border: 0.2rem solid #1F1F1F;
    padding: 2rem;
    border-radius: 1rem;
    color: #1F1F1F;
    font-size: 2rem;
    height: 25rem; }

.about-container {
  text-align: center;
  font-size: 2rem;
  color: #1F1F1F; }
  @media screen and (max-width: 1800px) {
    .about-container img {
      width: 60vw; } }
  @media screen and (max-width: 1200px) {
    .about-container img {
      width: 80vw; } }
  @media screen and (max-width: 900px) {
    .about-container img {
      width: 90vw; } }

.userHome-container p {
  color: #1F1F1F;
  font-size: 2rem; }

.userHome-container .heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1F1F1F;
  font-size: 2rem; }
  .userHome-container .heading h1 {
    display: inline-block;
    margin-right: 1rem; }
  .userHome-container .heading .addPost {
    display: flex;
    text-decoration: none;
    color: #1F1F1F;
    font-size: 2.5rem;
    align-self: center; }
    .userHome-container .heading .addPost .icon {
      align-self: center; }

.userHome-container .post-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem; }
  .userHome-container .post-container .post {
    border: 0.2rem solid #1F1F1F;
    border-radius: 1rem;
    overflow: hidden;
    width: 32rem;
    color: #1F1F1F;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .userHome-container .post-container .post:hover {
      box-shadow: 0.1rem 0.2rem 0.3rem; }
    .userHome-container .post-container .post .post-image img {
      width: 100%;
      height: auto; }
    .userHome-container .post-container .post .post-content {
      padding: 2rem; }
      .userHome-container .post-container .post .post-content h1 {
        font-size: 3rem; }
      .userHome-container .post-container .post .post-content p {
        font-size: 2rem; }

.blogform-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  justify-content: center; }
  .blogform-container h1 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #1F1F1F;
    text-align: center;
    margin-bottom: 3rem; }
  .blogform-container .blogform {
    width: 50rem;
    align-self: center; }
    .blogform-container .blogform textarea {
      height: 10rem; }

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%; }
  @media (max-width: 75em) {
    .dashboard-container {
      flex-direction: row; } }
  @media (max-width: 56.25em) {
    .dashboard-container {
      flex-direction: column; } }

.dashboard-nav {
  display: flex; }
  .dashboard-nav .navlink p {
    text-decoration: none;
    color: #1F1F1F;
    transition: all 0.3s; }
  .dashboard-nav .active p {
    background-color: #4B49AC;
    text-decoration: none;
    color: #F5F7FF; }
  @media (max-width: 112.5em) {
    .dashboard-nav {
      flex-direction: column; }
      .dashboard-nav :not(:last-child) {
        border-bottom: 0.2rem solid grey; } }
  @media (max-width: 75em) {
    .dashboard-nav {
      flex-direction: column; }
      .dashboard-nav :not(:last-child) {
        border-bottom: 0.2rem solid grey; } }
  @media (max-width: 56.25em) {
    .dashboard-nav {
      flex-direction: row; }
      .dashboard-nav :not(:last-child) {
        border-right: 0.2rem solid rgba(128, 128, 128, 0.3);
        border-bottom: none; } }
  .dashboard-nav p {
    display: inline-block;
    background-color: #F5F7FF;
    padding: 1rem 2rem;
    font-size: 2rem;
    width: 15rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0.1rem 0.1rem 0.2rem #1F1F1F;
    transition: all 0.2s; }
    .dashboard-nav p:hover {
      background-color: #4B49AC;
      color: #F5F7FF; }

.dashboard-content {
  border: 0.1rem solid #1F1F1F;
  width: 100%; }

.post-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem; }
  .post-container .post {
    border: 0.2rem solid #1F1F1F;
    border-radius: 1rem;
    overflow: hidden;
    width: 32rem;
    color: #1F1F1F;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .post-container .post:hover {
      box-shadow: 0.1rem 0.2rem 0.3rem; }
    .post-container .post .post-image img {
      width: 100%;
      height: auto; }
    .post-container .post .post-content {
      padding: 2rem; }
      .post-container .post .post-content h1 {
        font-size: 3rem; }
      .post-container .post .post-content p {
        font-size: 2rem; }

.footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #181818;
  height: 7rem;
  color: #F5F7FF;
  text-align: center;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem; }

.pageNotFound-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pageNotFound-container img {
    width: 80vw;
    height: 70vh; }
