.btn {
  padding: 0.8rem 2rem;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  transition: all 0.2s; }

.btn-primary {
  background-color: #91b1f6ca;
  font-size: 1.5rem;
  border: 0.2rem solid #ffffff; }
  .btn-primary:hover {
    background-color: #5050B2;
    color: #ffffff;
    border: 0.2rem solid #ffffff; }
  .btn-primary:active {
    transform: translateY(0.1rem); }

.btn-secondary {
  font-size: 1.5rem;
  background-color: #4747A1;
  border: 0.2rem solid #1F1F1F;
  color: white; }
  .btn-secondary:hover {
    background-color: #5050B2;
    color: #ffffff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent; }
  @media (max-width: 56.25em) {
    html, body {
      font-size: 50%; } }

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  #root .background-image {
    height: 100%;
    width: 100%;
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    opacity: 0.8;
    z-index: -10;
    position: absolute; }

section {
  min-height: 100%; }

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.2rem !important; }

.ls-sm {
  letter-spacing: 0.1rem; }

.ls-md {
  letter-spacing: 0.2rem; }

.ml-sm {
  margin-left: 1rem; }

.ml-md {
  margin-left: 2rem; }

.ml-lg {
  margin-left: 3rem; }

.mr-sm {
  margin-right: 1rem; }

.mr-md {
  margin-right: 2rem; }

.mr-lg {
  margin-right: 3rem; }

.mt-sm {
  margin-top: 1rem; }

.mt-md {
  margin-top: 2rem; }

.mt-lg {
  margin-top: 3rem; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 3rem; }

.input-area {
  width: 100%;
  margin-bottom: 1rem;
  margin-bottom: 3rem;
  position: relative; }
  .input-area input {
    height: 4rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 0.2rem solid black; }
    .input-area input:focus {
      border-bottom: 0.2rem solid #05821e; }
  .input-area label {
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
    font-size: 2rem;
    transition: all 0.3s;
    font-weight: 600;
    letter-spacing: 0.15rem; }
  .input-area input:not([value=""]) ~ label {
    transform: translateY(-2rem);
    font-size: 1.3rem; }
  .input-area input:focus ~ label {
    transform: translateY(-2rem);
    font-size: 1.3rem;
    color: #05821e; }
  .input-area textarea {
    height: 10rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    outline: none;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 0.2rem solid black; }
    .input-area textarea:focus {
      border-bottom: 0.2rem solid #05821e; }
  .input-area textarea:focus ~ label {
    transform: translateY(-2rem);
    font-size: 1.3rem;
    color: #05821e; }
  .input-area textarea:not(:placeholder-shown) ~ label {
    transform: translateY(-2rem);
    font-size: 1.3rem; }
  .input-area svg {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 2rem; }

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 2rem;
  background-color: rgba(240, 248, 255, 0.47);
  font-size: 1.5rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.248); }
  .navbar-container .logo {
    max-width: 40rem;
    display: flex;
    flex-direction: row;
    text-decoration: none; }
    .navbar-container .logo img {
      height: 5rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .navbar-container .logo .logo-text {
      display: flex; }
    .navbar-container .logo h1 {
      display: inline-block;
      align-self: center;
      color: #1F1F1F;
      font-size: 2.5rem; }
  .navbar-container .navlink {
    text-decoration: none;
    color: #1F1F1F; }
  .navbar-container .navlink-desktop-container {
    color: #1F1F1F;
    align-self: center; }
    .navbar-container .navlink-desktop-container ul {
      list-style: none; }
    .navbar-container .navlink-desktop-container li {
      color: #1F1F1F;
      display: inline-block;
      padding: 1rem 1.5rem;
      transition: .2s ease-out;
      border-radius: 0.5rem;
      letter-spacing: 0.1rem;
      font-weight: 600; }
      .navbar-container .navlink-desktop-container li:last-child {
        margin-right: 1rem; }
      .navbar-container .navlink-desktop-container li:not(:last-child) {
        margin-right: 3rem; }
      .navbar-container .navlink-desktop-container li:hover {
        background-color: #5050B2;
        color: #F5F7FF; }
    .navbar-container .navlink-desktop-container .active li {
      background-color: #4747A1;
      color: #F5F7FF; }
  .navbar-container .navlink-mobile-container {
    position: relative;
    display: none;
    transition: 2s ease-out; }
    .navbar-container .navlink-mobile-container input[type="checkbox"] {
      display: none; }
    .navbar-container .navlink-mobile-container #ham {
      cursor: pointer;
      align-self: center; }
    .navbar-container .navlink-mobile-container #nav:checked ~ ul {
      display: block;
      z-index: 10; }
    .navbar-container .navlink-mobile-container #nav:checked ~ #ham {
      display: none; }
    .navbar-container .navlink-mobile-container #nav:not(:checked) ~ #outside {
      display: none; }
    .navbar-container .navlink-mobile-container label {
      font-size: 3rem; }
    .navbar-container .navlink-mobile-container #outside {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9; }
    .navbar-container .navlink-mobile-container ul {
      display: none;
      position: fixed;
      list-style: none;
      top: 2rem;
      right: 2rem;
      background-color: #F5F7FF;
      list-style: none;
      box-shadow: 0 0.5rem 1rem;
      width: 30rem;
      padding: 1rem;
      padding-top: 3rem; }
      .navbar-container .navlink-mobile-container ul label {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer; }
    .navbar-container .navlink-mobile-container li {
      padding: 1rem 2rem;
      letter-spacing: .2rem;
      font-weight: 600;
      transition: all .3s ease-out; }
      .navbar-container .navlink-mobile-container li:hover {
        background-color: #91b1f6; }
    .navbar-container .navlink-mobile-container .active li {
      background-color: #91b1f6;
      color: #F5F7FF; }
  @media (max-width: 56.25em) {
    .navbar-container {
      justify-content: space-between; }
      .navbar-container .navlink-desktop-container {
        display: none; }
      .navbar-container .navlink-mobile-container {
        display: flex; } }

.home-container .textDetails {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: white;
  justify-content: center;
  align-items: center; }
  @media (max-width: 56.25em) {
    .home-container .textDetails {
      align-items: baseline;
      padding: 2rem; } }
  .home-container .textDetails h2 {
    -webkit-text-stroke: 0.01rem black;
    font-size: 4rem;
    width: 50%; }
    @media (max-width: 56.25em) {
      .home-container .textDetails h2 {
        width: 100%; } }
  .home-container .textDetails p {
    font-size: 2rem;
    width: 50%;
    text-align: justify; }
    @media (max-width: 56.25em) {
      .home-container .textDetails p {
        width: 100%; } }
  .home-container .textDetails .goto {
    width: 50%; }
    @media (max-width: 56.25em) {
      .home-container .textDetails .goto {
        width: 100%; } }

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .register-container h1 {
    font-size: 4rem;
    color: #F5F7FF;
    filter: brightness(100%);
    text-decoration: underline; }
  .register-container .register-form {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    width: 50rem;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: rgba(251, 255, 255, 0.6);
    box-shadow: 0 1rem 10rem #1F1F1F; }
    @media (max-width: 56.25em) {
      .register-container .register-form {
        width: 45rem;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .register-container .register-form {
        width: 40rem;
        padding: 1.5rem; } }

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-container h1 {
    font-size: 4rem;
    color: #F5F7FF;
    filter: brightness(100%); }
  .contact-container .contact-form {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50rem;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: rgba(251, 255, 255, 0.6);
    box-shadow: 0 1rem 10rem #1F1F1F; }
    @media (max-width: 56.25em) {
      .contact-container .contact-form {
        align-items: baseline;
        width: 40rem;
        padding: 2rem; } }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login-container h1 {
    font-size: 4rem;
    color: #F5F7FF;
    filter: brightness(100%); }
  .login-container .login-form {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    width: 50rem;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: rgba(251, 255, 255, 0.6);
    box-shadow: 0 1rem 10rem #1F1F1F; }
    @media (max-width: 56.25em) {
      .login-container .login-form {
        width: 45rem;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .login-container .login-form {
        width: 40rem;
        padding: 1.5rem; } }

.about-container .content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  @media (max-width: 56.25em) {
    .about-container .content {
      align-items: baseline;
      padding: 2rem; } }
  .about-container .content h1 {
    -webkit-text-stroke: 0.01rem black;
    font-size: 4rem;
    width: 80%; }
    @media (max-width: 75em) {
      .about-container .content h1 {
        -webkit-text-stroke: 0rem;
        font-size: 3rem;
        width: 100%; } }
  .about-container .content h4 {
    font-size: 3rem;
    width: 80%; }
    @media (max-width: 75em) {
      .about-container .content h4 {
        font-size: 2rem;
        width: 100%; } }
  .about-container .content p {
    font-size: 2rem;
    width: 80%;
    text-align: justify; }
    @media (max-width: 75em) {
      .about-container .content p {
        font-size: 1.5rem;
        width: 100%; } }

.userHome-container p {
  color: #1F1F1F;
  font-size: 2rem; }

.userHome-container .heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #F5F7FF;
  font-size: 2rem; }
  .userHome-container .heading h1 {
    display: inline-block;
    margin-right: 1rem; }
  .userHome-container .heading .addPost {
    display: flex;
    text-decoration: none;
    color: #F5F7FF;
    font-size: 2.5rem;
    align-self: center; }
    .userHome-container .heading .addPost .icon {
      align-self: center; }

.userHome-container .post-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem; }

.blogform-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  justify-content: center; }
  .blogform-container h1 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #1F1F1F;
    text-align: center;
    margin-bottom: 3rem; }
  .blogform-container .blogform {
    width: 50rem;
    align-self: center; }
    .blogform-container .blogform textarea {
      height: 10rem; }

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column; }

.dashboard-nav {
  display: flex;
  flex-direction: row; }
  .dashboard-nav .navlink p {
    text-decoration: none;
    color: #1F1F1F;
    transition: all 0.3s; }
  .dashboard-nav .active p {
    background-color: #4B49AC;
    text-decoration: none;
    color: #F5F7FF; }
  @media (max-width: 112.5em) {
    .dashboard-nav :not(:last-child) {
      border-bottom: 0.2rem solid grey; } }
  @media (max-width: 75em) {
    .dashboard-nav :not(:last-child) {
      border-bottom: 0.2rem solid grey; } }
  @media (max-width: 56.25em) {
    .dashboard-nav {
      flex-direction: row; }
      .dashboard-nav :not(:last-child) {
        border-right: 0.2rem solid rgba(128, 128, 128, 0.3);
        border-bottom: none; } }
  .dashboard-nav p {
    display: inline-block;
    background-color: rgba(240, 255, 255, 0.69);
    padding: 1rem 2rem;
    font-size: 2rem;
    width: 15rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0.2rem 1rem #1F1F1F;
    transition: all 0.2s; }
    .dashboard-nav p:hover {
      background-color: #4B49AC;
      color: #F5F7FF; }

.dashboard-content {
  width: 100%; }

.post-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem; }

.footer-container {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.815);
  align-self: baseline;
  height: 7rem;
  width: 100%;
  text-align: center;
  color: #F5F7FF;
  font-size: 1.5rem;
  overflow: hidden;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly; }
  .footer-container .copy {
    align-self: center; }
  .footer-container .details {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .footer-container .details .links {
      display: flex;
      justify-content: space-evenly;
      font-size: 2rem; }
      .footer-container .details .links svg {
        color: #4d8a0f;
        transition: all 0.2s; }
        .footer-container .details .links svg:hover {
          color: chartreuse;
          transform: translateY(0.2rem) scale(1.1); }

.post {
  border: 0.2rem solid #1F1F1F;
  border-radius: 1rem;
  overflow: hidden;
  width: 32rem;
  height: 40rem;
  color: #1F1F1F;
  transition: all 0.2s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(240, 248, 255, 0.773); }
  .post .favourite {
    position: absolute;
    height: 4rem;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgba(255, 225, 0, 0.934);
    background-color: rgba(245, 145, 145, 0.578);
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.2s ease-out; }
    .post .favourite:hover {
      transform: scale(0.99);
      background-color: rgba(245, 145, 145, 0.592);
      color: #F5F7FF; }
      .post .favourite:hover::after {
        content: "Add to favourites";
        position: absolute;
        padding: 2rem;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        background-color: rgba(240, 248, 255, 0.847);
        color: grey;
        clip-path: polygon(69% 19%, 91% 4%, 86% 19%, 86% 60%, 48% 60%, 0% 60%, 0 19%);
        border-radius: 20%;
        top: 4rem;
        right: 1rem; }
    .post .favourite:active {
      transform: translateY(0.2rem); }
  .post .delete {
    position: absolute;
    height: 4rem;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgba(255, 225, 0, 0.934);
    background-color: rgba(245, 145, 145, 0.578);
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.2s ease-out; }
    .post .delete:hover {
      transform: scale(0.99);
      background-color: rgba(245, 145, 145, 0.592);
      color: #F5F7FF;
      backface-visibility: hidden; }
      .post .delete:hover::after {
        content: "Remove";
        position: absolute;
        padding: 2rem;
        width: 5rem;
        height: 3rem;
        font-size: 1rem;
        background-color: rgba(240, 248, 255, 0.847);
        color: grey;
        clip-path: polygon(69% 19%, 91% 4%, 86% 19%, 86% 60%, 48% 60%, 0% 60%, 0 19%);
        border-radius: 20%;
        top: 4rem;
        right: 1rem; }
    .post .delete:active {
      transform: translateY(0.2rem); }
  .post:hover {
    box-shadow: 0.1rem 0.2rem 0.3rem; }
  .post .post-image {
    width: 100%;
    height: 50%; }
    .post .post-image img {
      width: 100%;
      height: 100%; }
  .post .post-content {
    padding: 2rem;
    height: 50%;
    display: flex;
    flex-direction: column; }
    .post .post-content h1 {
      font-size: 3rem; }
    .post .post-content p {
      font-size: 2rem; }
    .post .post-content .post-button {
      margin-top: auto; }

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.5;
  z-index: 11; }
  .loading-container .loading-img {
    margin: 0 auto; }
