.footer-container{
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.815);
    align-self: baseline;
    height: 7rem;
    width: 100%;
    text-align: center;
    color: $bg-color;
    font-size: 1.5rem;
    overflow: hidden;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;

    .copy{
        align-self: center;
    }
    
    .details{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .links{
            display: flex;
            justify-content: space-evenly;
            font-size: 2rem;

            svg{
                color: rgb(77, 138, 15);
                transition: all 0.2s;
                &:hover{
                    color: chartreuse;
                    transform: translateY(0.2rem) scale(1.1);
                }
            }

        }
    }
}