.blogform-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    justify-content: center;

    h1{
        font-size: 3rem;
        text-transform: capitalize;
        color: $helper-color;
        text-align: center;
        margin-bottom: 3rem;
    }

    .blogform{
        width: 50rem;
        align-self: center;

        textarea{
            height: 10rem;
        }
    }

}