.post-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;

        .post {
            border: 0.2rem solid $text-color;
            border-radius: 1rem;
            overflow: hidden;
            width: 32rem;
            color: $text-color;
            transition: all 0.2s;
            backface-visibility: hidden;

            &:hover {
                box-shadow: 0.1rem 0.2rem 0.3rem;
            }

            .post-image {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .post-content {
                padding: 2rem;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }