.contact-container{
    display: flex;
    flex-direction: column;

    h1{
        color: $text-color;
        font-size: 3rem;
        text-align: center;
    }

    .contact-form{
        border: 0.2rem solid $text-color;
        padding: 2rem;
        border-radius: 1rem;

        
    }
    .contact-area{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        padding: 4rem;
        gap: 2rem;
        .contact-image{
            width: 100%;
        }
    }
}