.contact-container{
    display: flex;
    flex-direction: column;

    h1{
        color: $helper-color;
        font-size: 3rem;
        text-align: center;
    }

    .contact-form{
        border: 0.2rem solid $helper-color;
        padding: 2rem;
        border-radius: 1rem;

        textarea{
           height: 10rem;
           background-color: rgba(95, 158, 160, 0.096);
        }
    }
    .contact-area{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        padding: 4rem;
        gap: 2rem;
        .contact-image{
            width: 100%;
        }
    }
}