.about-container{
    .content{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        color: white;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include respond(tab-port){
            align-items: baseline;
            padding: 2rem;
        }

        h1{
            -webkit-text-stroke: 0.01rem black;
            font-size: 4rem;
            width: 80%;
            @include respond(tab-land){
                -webkit-text-stroke: 0rem;
                font-size: 3rem;
                width: 100%;
            }
        }
        h4{
            font-size: 3rem;
            width: 80%;
            @include respond(tab-land){
                font-size: 2rem;
                width: 100%;
            }
        }
        p{
            font-size: 2rem;
            width: 80%;
            text-align: justify;
            @include respond(tab-land){
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }
}