* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}


body {
    background-color: $bg-color;
    height: 100%;
    font-family: "Nunito", sans-serif;
    min-width: 40rem;
}

.navlink{
    text-decoration: none;
    color: $text-color
}

section {
    height: 70%;
}

.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    font-size: 1.2rem !important;
}