.input-area {
    width: 100%;
    margin-bottom: 1rem;
    margin-bottom: 3rem;
    position: relative;
    input{
        height: 4rem;
        width: 100%;
        padding: 0.5rem 0.5rem;
        font-size: 2rem;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 0.2rem solid black;
        &:focus{
            border-bottom: 0.2rem solid rgb(5, 130, 30);
        }
    }
    label{
        position: absolute;
        top: 0.6rem;
        left: 0.5rem;
        font-size: 2rem;
        transition: all 0.3s;
        font-weight: 600;
        letter-spacing: 0.15rem;
    }
    input:not([value=""])~label{
        transform: translateY(-2rem);
        font-size: 1.3rem;
    }
    input:focus~label{
        transform: translateY(-2rem);
        font-size: 1.3rem;
        color: rgb(5, 130, 30);
    }
    textarea{
        height: 10rem;
        width: 100%;
        padding: 0.5rem 0.5rem;
        font-size: 2rem;
        outline: none;
        resize: none;
        background: transparent;
        border: none;
        border-bottom: 0.2rem solid black;
        &:focus{
            border-bottom: 0.2rem solid rgb(5, 130, 30);
        }
    }
    textarea:focus~label{
        transform: translateY(-2rem);
        font-size: 1.3rem;
        color: rgb(5, 130, 30);
    }
    textarea:not(:placeholder-shown)~label{
        transform: translateY(-2rem);
        font-size: 1.3rem;
    }
    svg{
        position: absolute;
        top: 0.8rem;
        right: 1.5rem;
        cursor: pointer;
        font-size: 2rem;
    }
}