.ls-sm{letter-spacing: 0.1rem;}
.ls-md{letter-spacing: 0.2rem;}

.ml-sm{margin-left: 1rem;}
.ml-md{margin-left: 2rem;}
.ml-lg{margin-left: 3rem;}

.mr-sm{margin-right: 1rem;}
.mr-md{margin-right: 2rem;}
.mr-lg{margin-right: 3rem;}

.mt-sm{margin-top: 1rem;}
.mt-md{margin-top: 2rem;}
.mt-lg{margin-top: 3rem;}

.mb-sm{margin-bottom: 1rem;}
.mb-md{margin-bottom: 2rem;}
.mb-lg{margin-bottom: 3rem;}