$dark-bg-color: #1D2537;
$dark-text-color: #f4f3ff;
$dark-text-active-color: #91b1f6;
$dark-button-color: #4747A1;
$dark-button-text-color: #ffffff;
$dark-button-active-color: #5050B2;

$bg-color: #F5F7FF;
$text-color: #1F1F1F;
$text-active-color: #4B49AC;
$button-color: #4747A1;
$button-text-color: #ffffff;
$button-active-color: #5050B2;



