header{
    .container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 3rem 2.4rem; 
        font-size: 1.5rem;
        
        .logo{
            max-width: 40rem;
            display: flex;
            flex-direction: row;
            text-decoration: none;

            img{
                height: 5rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
            .logo-text{
                display: flex;
            }
            h1{
                display: inline-block;
                align-self: center;
                color: $text-color;
            }
        }
        .inactive{
            text-decoration: none;
            border-bottom: 0.2rem solid transparent;
        }
        
        .navlink{
            text-decoration: none;
            color: $text-color;
            border-bottom: 0.2rem solid transparent;
            transition: all 0.3s;
        }
        
        .active{ 
            color: $text-color;
            text-decoration: none;
            border-bottom: 0.2rem solid $text-color;
        }

        .navlinks{
            align-self: center;
        }
        
        & h1{
            font-weight: 600;
            border-bottom: 0.2rem solid transparent;
        }
        
        & ul {
            display: flex;
            gap: 3.2rem;
        }
        
        & li {
            list-style: none;
            display: inline-block;
            font-size: 1.7rem;
            font-weight: 700;
        }
    }
}